[submodule "rails-apps/fizzy"]
	path = rails-apps/fizzy
	url = https://github.com/basecamp/fizzy.git
	branch = main
[submodule "rails-apps/writebook"]
	path = rails-apps/writebook
	url = https://github.com/basecamp/writebook.git
	branch = main
[submodule "rails-apps/pagecord"]
	path = rails-apps/pagecord
	url = https://github.com/lylo/pagecord.git
[submodule "rails-apps/once-campfire"]
	path = rails-apps/once-campfire
	url = https://github.com/basecamp/once-campfire.git
[submodule "pyxel-games/megaball"]
	path = pyxel-games/megaball
	url = https://github.com/kitao/megaball.git
